.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  form {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #606770;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #166fe5;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #1877f2;
    outline: none;
  }